

"APPICON"  ICON   DISCARDABLE   "mxbpack.ico"
200 ICON   DISCARDABLE   "pe32.ico"

1 VERSIONINFO
 FILEVERSION 4,0,0,6000
 PRODUCTVERSION 4,0,0,6000
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "The Molebox Wrapper\0"
            VALUE "FileVersion", "4, 0, 0, 6000\0"
            VALUE "ProductVersion", "4, 0, 0, 6000\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

